.App {
  text-align: center;
}

.wrapper__main {
  background-color: white;
}

.button__play {
  all: unset;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  background-color: rgb(26, 128, 9);
  padding: 5px;
  width: fit-content;
  margin: auto;
}

.container__play {
  width: fit-content;
  margin: auto;
  padding-top: 5%;
}
